.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.accordion {
    height: 100%;
    width: 300px;
    padding: 10px 30px;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
